1. Extracción y revisión de tdf_winners_master.csv

In [60]:
import pandas as pd 
import numpy as np

df_winners = pd.read_csv('../data/raw/tdf_winners_master.csv')

display(df_winners)
display(df_winners.info())
display(df_winners.nunique())

,Year,Country,Rider,Team,Time,Margin,Stages Won,Stages Led,Avg Speed,Height,Weight,Born,Died
0,1903,France,Maurice Garin,La Française,"94h 33' 14""","+ 2h 59' 21""",3,6.0,25.7km/h,1.62m,60kg,1871-03-03,1957-02-19
1,1904,France,Henri Cornet,Conte,"96h 05' 55""","+ 2h 16' 14""",1,3.0,25.3km/h,NaN,NaN,1884-08-04,1941-03-18
2,1905,France,Louis Trousselier,PeugeotWolber,NaN,NaN,5,10.0,NaN,NaN,NaN,1881-06-29,1939-04-24
3,1906,France,René Pottier,PeugeotWolber,NaN,NaN,5,12.0,NaN,NaN,NaN,1879-06-05,1907-01-25
4,1907,France,Lucien Petit-Breton,PeugeotWolber,NaN,NaN,2,5.0,NaN,NaN,NaN,1882-10-18,1917-12-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,2021,Slovenia,Tadej Poga?ar,UAE Team Emirates,"82h 56' 36""","+ 5' 20""",3,NaN,41.2km/h,1.77m,66kg,1998-09-21,NaN
101,2022,Denmark,Jonas Vingegaard,Team JumboVisma,"79h 32' 29""","+ 2' 43""",2,NaN,41.8km/h,1.75m,60kg,1996-12-10,NaN
102,2023,Denmark,Jonas Vingegaard,Jumbo-Visma,"82h 05' 42""""","+ 00h 07' 29""""",1,16.0,41.48km/h,1.75m,60kg,1996-12-10,NaN
103,2024,TBD,Tadej Pogačar (SLO),UAE Team Emirates,"83h 38' 56""""","+ 00h 06' 17""""",6,19.0,41.8km/h,1.77m,66kg,1998-09-21,NaN
104,2025,TBD,Tadej Pogačar (SLO),UAE Team Emirates - XRG,"76h 00' 32""""","+ 00h 04' 24""""",4,14.0,43.4km/h,1.77m,66kg,1998-09-21,NaN

<class 'pandas.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        105 non-null    int64
 1   Country     105 non-null    str
 2   Rider       105 non-null    str
 3   Team        105 non-null    str
 4   Time        97 non-null     str
 5   Margin      97 non-null     str
 6   Stages Won  105 non-null    int64
 7   Stages Led  102 non-null    float64
 8   Avg Speed   97 non-null     str
 9   Height      65 non-null     str
 10  Weight      66 non-null     str
 11  Born        105 non-null    str
 12  Died        56 non-null     str
dtypes: float64(1), int64(2), str(10)
memory usage: 10.8 KB

None

Year          105
Country        16
Rider          65
Team           51
Time           97
Margin         92
Stages Won      9
Stages Led     22
Avg Speed      76
Height         19
Weight         19
Born           64
Died           38
dtype: int64

2. Cambios generales

In [61]:
# Hay cierta información que ya están disponibles en otros dataframes, por lo que eliminamos las columnas Country	Rider	Team	Time	Margin
df_winners.drop(columns = ['Country', 'Rider', 'Team', 'Time', 'Margin'], inplace=True)

display (df_winners)

,Year,Stages Won,Stages Led,Avg Speed,Height,Weight,Born,Died
0,1903,3,6.0,25.7km/h,1.62m,60kg,1871-03-03,1957-02-19
1,1904,1,3.0,25.3km/h,NaN,NaN,1884-08-04,1941-03-18
2,1905,5,10.0,NaN,NaN,NaN,1881-06-29,1939-04-24
3,1906,5,12.0,NaN,NaN,NaN,1879-06-05,1907-01-25
4,1907,2,5.0,NaN,NaN,NaN,1882-10-18,1917-12-20
...,...,...,...,...,...,...,...,...
100,2021,3,NaN,41.2km/h,1.77m,66kg,1998-09-21,NaN
101,2022,2,NaN,41.8km/h,1.75m,60kg,1996-12-10,NaN
102,2023,1,16.0,41.48km/h,1.75m,60kg,1996-12-10,NaN
103,2024,6,19.0,41.8km/h,1.77m,66kg,1998-09-21,NaN
104,2025,4,14.0,43.4km/h,1.77m,66kg,1998-09-21,NaN

3. Convertimos Stages Led a int. Y creamos nueva columna del ratio de dias de lider.

In [62]:
#Covertimos Stages Led a int, manteniendo nulos

#Comprobamos que hay 3 nulos. Los dejamos así y convertimos el resto de la tabla.
df_winners['Stages Led'] = df_winners['Stages Led'].astype('Int64')   
display(df_winners)

,Year,Stages Won,Stages Led,Avg Speed,Height,Weight,Born,Died
0,1903,3,6,25.7km/h,1.62m,60kg,1871-03-03,1957-02-19
1,1904,1,3,25.3km/h,NaN,NaN,1884-08-04,1941-03-18
2,1905,5,10,NaN,NaN,NaN,1881-06-29,1939-04-24
3,1906,5,12,NaN,NaN,NaN,1879-06-05,1907-01-25
4,1907,2,5,NaN,NaN,NaN,1882-10-18,1917-12-20
...,...,...,...,...,...,...,...,...
100,2021,3,<NA>,41.2km/h,1.77m,66kg,1998-09-21,NaN
101,2022,2,<NA>,41.8km/h,1.75m,60kg,1996-12-10,NaN
102,2023,1,16,41.48km/h,1.75m,60kg,1996-12-10,NaN
103,2024,6,19,41.8km/h,1.77m,66kg,1998-09-21,NaN
104,2025,4,14,43.4km/h,1.77m,66kg,1998-09-21,NaN

4. Limpiamos Avg Speed, Height y Weight

In [63]:
# Quitamos los caracteres km/h y convertimos a float
df_winners['Avg Speed'] = df_winners['Avg Speed'].str.replace('km/h', '', regex=False).str.strip()
df_winners['Avg Speed'] = df_winners['Avg Speed'].astype(float)

#Quitamos los caracteres m y convertimos a float
df_winners['Height'] = df_winners['Height'].str.replace('m', '', regex=False).str.strip()
df_winners['Height'] = df_winners['Height'].astype(float)

# Lo mismo con Weight qutando kg
df_winners['Weight'] = df_winners['Weight'].str.replace('kg', '', regex=False).str.strip()
df_winners['Weight'] = df_winners['Weight'].astype(float)
display(df_winners)

,Year,Stages Won,Stages Led,Avg Speed,Height,Weight,Born,Died
0,1903,3,6,25.70,1.62,60.0,1871-03-03,1957-02-19
1,1904,1,3,25.30,NaN,NaN,1884-08-04,1941-03-18
2,1905,5,10,NaN,NaN,NaN,1881-06-29,1939-04-24
3,1906,5,12,NaN,NaN,NaN,1879-06-05,1907-01-25
4,1907,2,5,NaN,NaN,NaN,1882-10-18,1917-12-20
...,...,...,...,...,...,...,...,...
100,2021,3,<NA>,41.20,1.77,66.0,1998-09-21,NaN
101,2022,2,<NA>,41.80,1.75,60.0,1996-12-10,NaN
102,2023,1,16,41.48,1.75,60.0,1996-12-10,NaN
103,2024,6,19,41.80,1.77,66.0,1998-09-21,NaN
104,2025,4,14,43.40,1.77,66.0,1998-09-21,NaN

5. Eliminamos columna Died